body {font-size: 22px;
    color:#1a1a1a;
    background-color:navajowhite;
    font-family:Arial, Helvetica, sans-serif ; }
ul {
    display: flex;
    justify-content:space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}
a
 {color: darkred;
    text-decoration: none;
    font-size: 25px;
}
img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #1a1a1a;
}
.center {
    text-align: center;
}
.contact-form input {
    width: 100%;
    padding: 8px 0px;
    margin: 8px 0px;
}
.input [type=text] {
    height: 100px;
} 
button {
background-color: blanchedalmond;
border: none;
width: 100px;
height: 30px;
}